<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:cc="http://java.sun.com/jsf/composite"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <h:form>

        <p:outputLabel/>
        <p:inputText/>
       
        <p:outputLabel/>
        <p:inputText/>
        
        <p:outputLabel/>
        <p:inputText/>

    </h:form>
</ui:composition>
