<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
        <h:head>
            <title>Restaurante WEB<ui:insert name="titulo">| Inicio</ui:insert></title>
            <h:outputStylesheet library="css" name="style.css"/>
            <ui:insert name="css"> </ui:insert>
        </h:head>
        <h:body>
            <p:growl id="growl" showDetail="true" sticky="false" 
                     autoUpdate="true" globalOnly="true" showSummary="true" 
                     life="6000"/>  
            <h:panelGrid cellspacing="0" cellpadding="0" styleClass="wrapper">
                <h:panelGrid columns="1" columnClasses="menu,content">
                    <p:panel  styleClass="menu">
                        <h:panelGroup id="topPanelMain">
                            <h:panelGrid style="width: 100%" columns="2" cellspacing="10px" id="topPanel">  
                                <h:link outcome="index">
                                    <h:graphicImage library="images" name="alocacao-de-recursos.jpg" styleClass="banner"/>
                                </h:link>
                                <ui:insert name="menu">
                                    <ui:include src="include/menu.xhtml" />
                                </ui:insert>
                            </h:panelGrid>
                        </h:panelGroup>
                        <p:separator/>
                        <ui:insert name="corpo_pag"> </ui:insert>
                    </p:panel>
                </h:panelGrid>
            </h:panelGrid>

            <div id="pagina">
                <p:dialog header="#{msg.restauranteWeb}" widgetVar="dlgSobre" showEffect="clip" hideEffect="clip" height="150" >
                    <h:outputText style="text-align:right" value="Res" />
                    <br/>
                    <p:separator/>
                    <h:outputLabel value="#{msg.solucoes}"/>
                </p:dialog>

            </div>
        </h:body>
    
</html>