/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/11/2015, 08:56:59
    Author     : arthur.diego
*/

.img{
    width: 80px;
    height: 50px;
    margin-top: 5px;
}

.menu {
    min-width: 1024px;
    max-width: 100%;
    min-height: 600px;
    vertical-align: top;
    text-align: center;
    margin-top: -5px;
    margin-right: 5px;
}
.wrapper {
    min-width: 1024px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto; /* fix max-width incompatibility in IE6 */
}

.banner { 
    width: 70px;
    height: 40px;
    margin-top: 10px;
    margin-bottom:5px;
}

.content {
    height: auto;
    vertical-align: top;
    text-align: left;
}
