<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:cc="http://java.sun.com/jsf/composite"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <h:form  styleClass="form-horizontal" id="form_curso_form" >
        <h:panelGroup >
            <h:panelGrid columns="8">
                <div class="form-group">
                    <h:outputLabel value="#{msg.curso}: " for="nome_curso" styleClass="col-lg-2 control-label"/>
                    <div class="col-lg-10">
                        <h:inputText value="#{cursoController.current.curso_nome}" styleClass="form-control" id="nome_curso" label="Campo Curso"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <h:commandButton   value="#{msg.salvar}" actionListener="#{cursoController.enableOrDisableForm()}" action="#{cursoController.createOrEdit()}"  styleClass="btn btn-primary">
                            <f:ajax execute="@form" render=":form_curso" />
                        </h:commandButton>
                    </div>
                </div>
            </h:panelGrid>
        </h:panelGroup>
    </h:form>
</ui:composition>