<ui:composition template="/index.xhtml" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:cc="http://java.sun.com/jsf/composite"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
        <h:form  id="form_curso">
            <fieldset>
                <legend>Curso</legend>
                <p:separator/>
                <h:panelGroup id="btnAdd">
                    <h:commandButton value="#{msg.adicionar}" actionListener="#{cursoController.enableOrDisableBtn()}"  action="#{cursoController.prepareCreate()}" rendered="#{cursoController.enableBtnAdd == false and cursoController.current == null}" styleClass="btn btn-primary"/>
                </h:panelGroup>
                <h:panelGroup id="form_include"  rendered="#{cursoController.enableFormCurso != true and cursoController.current != null}" >
                    <ui:include src="form.xhtml" />
                </h:panelGroup>

                <p:separator/>
                <h:panelGroup  id="table_cursos">
                    <h:dataTable value="#{cursoController.items}" var="curso" 
                                 styleClass="table table-striped table-hover" headerClass="info" >
                        <h:column >    				
                            <f:facet name="header">#{msg.opcoes}</f:facet>    				
                            <h:commandLink actionListener="#{cursoController.enableOrDisableBtn()}" action="#{cursoController.prepareEdit()}"  class="btn btn-primary btn-xs">#{msg.alterar}</h:commandLink>
                            <h:commandLink actionListener="#{cursoController.enableOrDisableBtn()}" action="#{cursoController.destroy()}"  class="btn btn-primary btn-xs">#{msg.excluir}</h:commandLink>
                        </h:column>
                        <h:column >    				
                            <f:facet name="header">#{msg.id}</f:facet>    				
                                #{curso.idCurso}
                        </h:column>
                        <h:column >    				
                            <f:facet name="header">#{msg.curso}</f:facet>    				
                                #{curso.curso_nome}
                        </h:column>

                    </h:dataTable>
                    <ul class="pager">
                        <li><h:commandLink action="#{cursoController.previous}" value="#{msg.anterior} #{cursoController.pagination.pageSize + 1}" rendered="#{cursoController.pagination.hasPreviousPage}"/></li>
                        <li><h:commandLink action="#{cursoController.next}" value="#{msg.proximo} #{cursoController.pagination.pageSize + 1}" rendered="#{cursoController.pagination.hasNextPage}"/></li>
                    </ul>
                </h:panelGroup>
            </fieldset>
        </h:form>
    </ui:define>
</ui:composition>