<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Restaurante</title>
        <h:outputStylesheet name="css/bootstrap.css" />
          <h:outputScript library="js" name="jquery-1.10.2.min.js" />
        <h:outputScript library="js" name="bootstrap.min.js" />
    </h:head>

    <h:body>   
      
        <div id="header">
            <ui:insert name="header">
                <ui:include src="/templates/include/header.xhtml"/>
            </ui:insert>
        </div>
        <div id="content" class="container">
            <div class="row">
                <ui:insert name="content">
                </ui:insert>
            </div>
        </div>

        <div id="footer">
            <ui:insert name="footer">
                <ui:include src="/templates/include/footer.xhtml"/>
            </ui:insert>
        </div>

    </h:body>
</html>