<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        
    </h:head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h:link class="navbar-brand" outcome="index">#{msg.inicio}</h:link>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">#{msg.cadastro}<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><h:link value="#{msg.curso}" outcome="/Curso/page.xhtml"/></li>
                                <li><h:link value="#{msg.disciplina}" outcome="/Disciplina/page.xhtml"/></li>
                                <li><h:link value="#{msg.especialidade}" outcome="/Especialidade/page.xhtml"/></li>
                                <li><h:link value="#{msg.sala}" outcome="/Sala/page.xhtml"/></li>
                                <li><h:link value="#{msg.semestre}" outcome="/Semestre/page.xhtml"/></li>
                                <li><h:link value="#{msg.turma}" outcome="/Turma/page.xhtml"/></li>
                                <!--
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                                -->
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">#{msg.sair}</a></li>
                    </ul>
                    <!--
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search"/>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                    </ul>
                    -->
                </div>
            </div>
        </nav>
    </body>
</html>
